/* download inter font from google */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter Regular'), local('Inter-Regular'), url(https://fonts.gstatic.com/s/inter/v12/1Ptug8zYS_SKggPNyCgwYg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    src: local('Inter Regular'), local('Inter-Regular'), url(https://fonts.gstatic.com/s/inter/v12/1Ptug8zYS_SKggPNyCgwYg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


html, body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.2;
  color: #000;
}

*{
box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 790px;
}


.main {
    background-image: url("bgc.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 830px;
    width: 100%;
    border: 2px solid black;
    box-shadow: darkgray 5px 5px 10px;

    display: flex;
    flex-direction: column;

}

.main-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem auto;
}

.item {
    width: 100%;
    background-color: lightgray;
    opacity: 0.8;
    border: gray solid 1px;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.available {
    opacity: 1;
    font-family: sans-serif;
    font-size: smaller;
    font-weight: 600;
    background-color: rgba(213, 213, 213, 0.4);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: darkmagenta;
}

.available:hover {
    opacity: 0;
}

.row{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-family: sans-serif;
    font-weight: 300;
    padding: 1rem;
}

.gray{
color: darkmagenta;
font-weight: 200;
}